#header, .sub_menu, .sub_font, .sub_page, #footer, #print, #card_input  { display:none; }
#animation { margin-top:0px;  height:80px; background-image:none; }
#sub_slide_parent { background-image:none; margin-left:0px; }
.title { display:none; }